<div>
  <mat-toolbar>
    <span class="logo">myFlix</span>
    <span class="navigation-items-spacer"></span>
    <button mat-button aria-label="Click to view profile" (click)="openProfileView()">
      Logged in as: {{username}}
    </button>
    <button mat-button aria-label="Click to Log out" (click)="logout()">
      Log out
    </button>
  </mat-toolbar>
</div>
<div class="movie-view" style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: <a mat-button
          (click)="openDirectorDialog(movie.Director)">{{movie.Director.Name}}</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">Genre</button>
      <button mat-button color="primary" (click)="openSinopsisDialog(movie)">Synopsis</button>
      <button *ngIf="!isFavouriteMovie(movie._id)" mat-icon-button class="example-icon"
        (click)="addToFavourites(movie._id)" title="Add to your favourite movie list"
        aria-label="Click to add the movie to your favourite movies' list">
        <mat-icon color="accent">favorite_border</mat-icon>
      </button>
      <button *ngIf="isFavouriteMovie(movie._id)" mat-icon-button class="example-icon"
        (click)="removeFromFavourites(movie._id)" title="Remove from favourite movie list"
        aria-label="Click to remove the movie from your favourite movies list">
        <mat-icon color="accent">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>